body {
	font-family: "Arial","Helvetica Neue","Helvetica","sans-serif";
	background-color: #dddddd;
	padding: 0px;
	margin: 0px;
	width: 960px;
}

h1,h2{
	font-family: "Georiga", "Times", "Times New Roman","serif";
}

img{
	width:200px;
	height: 200px;
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

aside img{
	height: 50px;
	width: 50px;
}

section{
text-overflow: : auto;
}

article{
	float: left;
	/*padding: 20px;*/
	width: 650px;
	background-color: #ffffff;
}

aside{
	display: inline-block;
	width:270px;
	padding: 0px;
	
	background-color: #ffffff;
	text-align: center;
	margin-left:20px;
}

hr{
	width: 90%;
	color: #4aaaa5;

}