body {
	font-family: "Arial","Helvetica Neue","Helvetica","sans-serif";
	padding: 0px;
	margin: 0px;
}

h1,h2{
	font-family: "Georiga", "Times", "Times New Roman","serif";
}

img{
	width:200px;
	height: 200px;
	display: block;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

aside img{
	height: 50px;
	width: 50px;
}

section{
text-overflow: : auto;
}